:root {
    --bg: #0a2a33;
    --fore: #c3cdd6;
    --gre: #0a3513;
}

body {
    background-color: var(--bg);
    color: var(--fore);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputText {
    margin: 1vw;
    width: 20%;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sign {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 10%;
}

.start {
    background-color: var(--gre);
    color: var(--fore);
    width: 20%;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.start:hover {
    color: #96abbd;
    background-color: #1c722f;
}

.quit {
    margin: 0%;
    float: left;
    background-color: var(--gre);
    border: 0.1vw black solid;
    cursor: pointer;
}

.name,
.score {
    margin: 0vw 0vw 0 4vw;
}

.score {
    position: absolute;
    top: 0%;
    right: 0%;
}

.canvas {
    background-color: rgb(0, 0, 0);
    cursor: none;
}

.fail {
    text-align: center;
    margin: 10vw;
}

.leader {
    position: absolute;
    right: 1%;
    top: 1%;
}

.titleS {
    color: var(--fore);
    text-decoration: none;
    text-align: left;
    position: absolute;
    top: 1%;
    left: 1%;
}

table {
    background-color: var(--sky);
    margin: auto;
    border: 0.1vw black solid;
    border-radius: 1%;
}

td,
th {
    text-align: center;
    max-width: 65vw;
    padding: 0.2vw 1vw;
    border: 0.1vw solid rgb(15, 15, 15);
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    height: 0.05vw;
}

.pers {
    position: absolute;
    left: 0%;
    top: 20%;
}

.persbest {
    color: chocolate;
    font-size: 1vw;
    margin: 0;
}

.select {
    cursor: pointer;
    background-color: var(--gre);
    color: var(--fore);
}

.you {
    color: rgb(228, 125, 87);
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: #cd7f32;
}

.d {
    cursor: pointer;
    margin: 0.05vw;
    background-color: skyblue;
}

.top3 {
    background-color: #11414e;
}

.top3You {
    color: rgb(228, 125, 87);
    background-color: #11414e;
}

.losers {
    background-color: #276070;
}

.youloser {
    background-color: #276070;
    color: rgb(228, 125, 87);
}