:root{
    --bg: rgb(10, 44, 53);
    --fore: rgb(195, 205, 214);
}

body{
    background-color: var(--bg);
    color: var(--fore);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.inputText{
    margin: 1vw;
}